@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800;900&display=swap');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
    padding: 0px;
    margin: 0px;
}
body,html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    background-color: #0d1a2d;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 270px;
    height: 500px;
    padding: 20px;
    border-radius: 10px;
    color: #8BACD9;
    background-color: #15273f;
}
main h1{
    font-size: 14pt;
    color: white;
}
main p{
    font-size: 11pt;
}

.picture-img{
    height: 270px;
    width: 270px;
    border-radius: 10px;
    background: url(../images/image-equilibrium.jpg) no-repeat;
    background-size: contain;
}
.overlay {
    display: flex;
    align-items: center;
    justify-content:center ;
    position: absolute;
    top: 22.6%;
    width: 270px;
    height: 270px;
    border-radius: 10px;
    background-color: #00fff74b; /* Cor azul clara com 50% de opacidade */
    opacity: 0; /* Inicialmente, a sobreposição está invisível */
    transition: opacity 0.3s ease-in-out;
}

.image-container:hover .overlay {
    opacity: 1; /* Quando o mouse passa por cima da imagem, a sobreposição se torna visível */
    cursor: pointer;
}

.second-content{
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.etheruim-clock{
    display: flex;
    align-items: center;
    justify-content: space-between
}
hr{
    border: 0.2px solid rgba(255, 255, 255, 0.288);
}
.img-footer{
    height: 30px;
    display: flex;
    align-items: center;
}
.txt-persona{
    margin-left: 20px;
}

.avatar-img{
    height: 30px;
    border:1px solid white;
    border-radius: 50%;
}
#etherum{
    color: #00FFF8;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85px;
    height: 20px;
}
.icons2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    height: 20px;
}
.blue{
    color: white;
}
.blue:hover{
    cursor: pointer;
    color: #00FFF8;
}


footer{
    color: white;
}

@media screen and (max-width:1024px) {
    .overlay{
        display: none;
    }
}


